<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="Description" content="{{ page.description }}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">  
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="alternate" type="application/atom+xml" title="Slow News" href="/feed.xml" />
  

</head>
<body>
  <nav><span style="float: left"><span class="mast">Slow News</span> by <a rel="me" href="https://mastodon.social/@fgregg">Forest Gregg</a></span><span style="align-self: flex-end;  margin-left: auto;">  
      <a href="/archive.html">Archive</a>, <a href='https://bunkum.us/feed.xml'>RSS</a></span></nav>
  <main>
    {{ content }}
    </main>

  <hr />

</body>
