<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="Description" content="{{ page.description }}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="alternate" type="application/atom+xml" title="Slow News" href="/feed.xml" />
  <link rel="me" href="https://spore.social/@fgregg" />
  

</head>
<body>
  <nav><span style="float: left"><span class="mast">Slow News</span> by <a rel="me" href="https://mastodon.social/@fgregg">Forest Gregg</a></span><span style="align-self: flex-end;  margin-left: auto;">  
      <a href="/archive.html">Archive</a>, <a href='https://bunkum.us/feed.xml'>RSS</a></span></nav>
  <main>
    <article>
      
        {%- if page.tags -%}
    {% for tag in page.tags %}<p>
        <a href="{{site.baseurl}}/archive.html#{{tag | slugize}}">
            #{{ tag }}
        </a>
	</p>
    {% endfor %}
  {%- endif -%}

    {{ content }}
     </article>
    </main>

  <hr />

</body>
