<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="Description" content="{{ page.description }}">
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="alternate" type="application/atom+xml" title="Slow News" href="/feed.xml" />

  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@forestgregg">
  <meta name="twitter:creator" content="@forestgregg">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
  {% endif %}
  
</head>
<body>
  <nav><span style="float: left"><span class="mast">Slow News</span> by <a rel="me" href="https://mastodon.social/@fgregg">Forest Gregg</a></span><span style="align-self: flex-end;  margin-left: auto;">  
      <a href="/archive.html">Archive</a></span></nav>
  <main>
   <article>
  <h1>{{ page.title }}</h1>
  <p class="text-muted">{{ page.date | date: '%B %d, %Y' }}</p>
  {{ content }}
  </article>
  </main>

  <hr />

  
   <p>Subscribe to get Slow-News as an email newsletter.</p>  

  <form

  action="https://buttondown.email/api/emails/embed-subscribe/slow-news"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/slow-news', 'popupwindow')"
    >
    <div class="mb-3">
  <label for="bd-email" class="form-label">Enter your email</label>
  <input type="email" class="form-control" name="email" id="bd-email" />
  </div>
  <button type="submit" class="btn btn-primary">Subscribe</button>
</form>
    

</body>
